<div>
  <div class="home jumbotron centered">
    <h1>You have successfully Logged in</h1>
    


    <p><a class="btn btn-primary btn-lg" role="button" (click)="logout()">Logout</a></p>


  

  </div>
</div>


  <table *ngIf="orders" class="table">
      <input type="text" [(ngModel)]="term">
      <tr>
         
        <!-- <th mat-sort-header="company" [class.active]="order === 'id'"(click)="setOrder('id')">Company</th>
        <th mat-sort-header="PONUM">PONUM</th>
        <th mat-sort-header="instid">INSTID</th> -->
        <th [class.active]="order === 'COMPANY'"(click)="setOrder('COMPANY')">Company<span [hidden]="reverse">▼</span
          ><span [hidden]="!reverse">▲</span></th>
        <th [class.active]="order === 'PONUM'"(click)="setOrder('PONUM')">PONUM</th>
        <th [class.active]="order === 'INSTID'"(click)="setOrder('INSTID')">INSTID</th>
        <th [class.active]="order === 'DESCRIPTION'"(click)="setOrder('DESCRIPTION')">DESCRIPTION</th>
        <th [class.active]="order === 'OCODE'"(click)="setOrder('OCODE')">OCODE</th>
        <th [class.active]="order === 'ORDERDATE'"(click)="setOrder('ORDERDATE')">ORDERDATE</th>
      </tr>
    
      <tr *ngFor="let obj of orders | orderBy: order:reverse:'case-insensitive' | filter:term">
          <td>{{ obj.COMPANY }}</td>
          <td>{{ obj.PONUM }}</td>
          <td>{{ obj.INSTID }}</td>
          <td>{{ obj.DESCRIPTION }}</td>
          <td>{{ obj.OCODE }}</td>
          <td>{{ obj.ORDERDATE }}</td>
      </tr>
    </table>
  